[Unit]
Description=Bluetooth Wifi Manager
Requires=bluetooth.target
After=bluetooth.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/smoothie-bluetooth-serial-wifi
ExecStart=/home/pi/smoothie-bluetooth-serial-wifi/main.py

[Install]
WantedBy=multi-user.target
