[Unit]
Description=Bluetooth Wifi Manager
Requires=bluetooth.target
After=bluetooth.target

[Service]
Type=simple
Environment="PATH=/home/pi/venv/bin"
WorkingDirectory=/home/pi/smoothie-bluetooth-serial-wifi
ExecStart=/home/pi/smoothie-bluetooth-serial-wifi/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
