[Unit]
Description=Bluetooth Auth Agent for smoothie

[Service]
ExecStart=/usr/bin/bt-agent -c NoInputNoOutput
Type=simple

[Install]
WantedBy=multi-user.target
